body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00bbf0;
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 480px;
    margin: 80px auto;
}
.cell{
    font-family: "Parmanent Market", cursive;
    text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 1px #333333;
    border: 5px solid #333333;
    cursor: pointer;
    line-height: 150px;
    font-size: 80px;
}

.game--title{
    color: aliceblue;
    background-color: #333333;
    font-size: 50px;

}

.game--restart{
    border-radius: 3rem;
    border-top: none;
    font-size: 2rem;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: aliceblue;
}